@import "../variable.less";
.head{
  background: @headBgColor;
  .h(40);
  .lh(40);
  padding:0 7px;
  .text{
    color: @defaultColor;
  }
  .custom{
    background: @marnColor;
    color: @defaultColor;
    border-color: @marnColor;
    border-style: dashed;
    .pl(15);
    .pr(15);
    .mt(7);
  }
}