.f-l{
  float: left;
}
.f-r{
  float: right;
}
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1; /*IE/7/6*/
}

.d-ib{
  display: inline-block;
}
.d-b{
  display: block;
}

.t-ac{
  text-align: center;
}
.t-ar{
  text-align: right;
}

.bg-w{
  background: #fff;
}
.c-w{
  color: #ffffff;
}
.p-a{
  position: absolute;
}
.p-r{
  position: relative;
}
.c-r{
  color: red;
}